body{
  color:#222
}
img{
  max-width: 100%;
}
main{
  padding:10px;
  margin-top: 20px;

max-width: 900px;
margin:0 auto;
}
 header{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
align-items: center;
margin-top: 10px;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
   font-weight: bold;
   font-size: 1.5rem;
}
header nav{
  display: flex;
  gap: 15px;
}
div.post{
 display: flex;
 grid-template-columns: 0.5fr 0.9fr;
 gap:0px;
 margin-bottom: 30px;
}
div.post div.image{
  width: 400%;
}
div.post div.texts{
  margin: 0;
  font-size: 0.9rem;
}
div.post p.info{
  margin: 6px;
  color: #888;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  gap:10px;

}
div.post p.info a.author{
  color:#333;
}
div.post p.summary{
  margin:10px 0;
  line-height: 1.2rem;
}